body {
    background-color: rgb(25, 31, 52);
    display: flex;
    flex-direction: column;
    padding: 0px 20%;
}

.image{
    border: 5px solid rgb(133, 143, 150);
    border-radius: 10px;
    height: 400px;
}

.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}